<div class="content__wrapper">
  <form [formGroup]="loginForm">
    <div class="content__group contant__group--column">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="loginForm.controls.name" />
        <mat-error *ngIf="loginForm.controls.name.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [formControl]="loginForm.controls.password"
        />
        <mat-error *ngIf="loginForm.controls.password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="content__group content__footer">
    <button
      mat-raised-button
      [disabled]="loginForm.pristine"
      (click)="resetForm()"
    >
      Reset
    </button>
    <button mat-raised-button [disabled]="!loginForm.valid" (click)="login()">
      Login
    </button>
  </div>
</div>
