<div>
  <h2>
    Selected user:
    <span
      *ngIf="
        selectedUserIndex >= 0 && selectedUserIndex !== null && users.length;
        else userNotSelected
      "
    >
      {{
        users[selectedUserIndex]?.name + " " + users[selectedUserIndex]?.surname
      }}
    </span>
    <ng-template #userNotSelected>
      <span *ngIf="!selectedUserIndex"></span>
    </ng-template>
  </h2>
  <h2>List of all users:</h2>

  <ng-container
    *ngIf="users.length; then usersList; else noUsers"
  ></ng-container>

  <ng-template #usersList>
    <div class="users-list">
      <app-user
        *ngFor="let userInstance of users; index as index"
        (click)="setSelectedUserIndex(index)"
      ></app-user>
    </div>
  </ng-template>

  <ng-template #noUsers> No created users could be found </ng-template>
</div>
