<div class="wrapper">
  <ng-container *ngIf="usersStore.loading$ | async; else loaded">
    <div id="loading"></div>
    <div>Loading Users...</div>
  </ng-container>

  <ng-template #loaded>
    <ng-container
      *ngIf="(usersStore.users$ | async).length; then usersList; else noUsers"
    ></ng-container>

    <ng-template #usersList>
      <h2>List of all users:</h2>
      <div class="users-list">
        <app-user
          *ngFor="let userInstance of usersStore.users$ | async; index as index"
          (click)="setSelectedUserIndex(index)"
          (delete)="filterOutUserIndex(index)"
          [user]="userInstance"
          [isSelected]="index === selectedIndex"
        ></app-user>
      </div>
    </ng-template>

    <ng-template #noUsers> No created users could be found </ng-template>
  </ng-template>
</div>
