.user-entry {
    display: flex;
    padding: 16px;
    width: 500px;
    border: 1px solid #adadad;
    background-color: white;
    margin: 8px;
    border-radius: 3px;
}

.user-entry span {
    margin: 0 4px;
}