.app__wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebebeb;
}

router-outlet {
  width: 0 !important;
}

.app__content {
  margin-top: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.app__content app-create-account {
  border: 1px solid #ebebeb;
  height: fit-content;
  max-height: calc(100% - 264px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 2px 4px 0 #ebebeb,
    0 4px 8px 0 #ebebeb, inset 0 1px 0 0 #ebebeb;
  border-radius: 8px;
  background-color: white;
}
