<div class="content__wrapper">
  <h2>Basic Details</h2>
  <div class="content__group">
    <span>Username Input</span>
    <span>Surname Input</span>
  </div>
  <h2>Additional Details</h2>
  <div class="content__group">
    <span>Email Input</span>
  </div>

  <hr />

  <h2>User Agreement</h2>
  <div class="content__group">
    <span>Terms of Service checkbox</span>
  </div>

  <br />

  <div class="content__group">
    <span>Reset Button</span>
    <span>Confirmation Button</span>
  </div>
</div>
